<!DOCTYPE html> 
<!-- here we practise vue.js -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="css/foundation.min.css">
	<link rel="stylesheet" href="css/style.css">
	
	<title>Vue lessons</title>
</head>

<body>
	<div id="app1" style="text-align: center">
		<h1 ref="Heading">{{title}}</h1>
		<!-- we can use ref key to access an element from outside -->
		<button @click="show" ref="myButton">Show Paragraph</button>
		<hr>
		<p v-if="showParagraph">A sitcom</p>
	</div>
	<div id="app2" style="text-align: center">
		<h1 >{{title}}</h1>
		<button @click="changeInstance1">Show Paragraph</button>
		<hr>
		<p v-if="showParagraph">A comedy</p>
	</div>
	<div id="app3">
		
	</div>
<script src="js/main.js" ></script>
</body>

</html>



